In [1]:
print("Hello World!")

Hello World!

In [18]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [19]:
data = {"name":['a','b','c','d','a','c'],"eng":[8,7,5,8,8,5],"hindi":[2,3,4,5,2,4]}

In [20]:
df=pd.DataFrame(data)
df

  name  eng  hindi
0    a    8      2
1    b    7      3
2    c    5      4
3    d    8      5
4    a    8      2
5    c    5      4

In [21]:
df.duplicated()

0    False
1    False
2    False
3    False
4     True
5     True
dtype: bool

In [22]:
df

  name  eng  hindi
0    a    8      2
1    b    7      3
2    c    5      4
3    d    8      5
4    a    8      2
5    c    5      4

In [23]:
df.drop_duplicates(inplace=True)

In [24]:
df

  name  eng  hindi
0    a    8      2
1    b    7      3
2    c    5      4
3    d    8      5